@import "tailwindcss";

@theme {
  --font-sans:
    "Public Sans Variable",
    "Public Sans",
    "Inter Variable",
    "Inter",
    "IBM Plex Sans",
    "Helvetica Now Variable",
    "Helvetica Neue",
    "Segoe UI Variable",
    "Segoe UI",
    "Helvetica",
    "Tahoma",
    "Arial",
    "Source Han Sans TW VF",
    "Noto Sans TC VF",
    "Sarasa UI TC",
    "Sarasa Gothic TC",
    "Source Han Sans TC",
    "Noto Sans TC",
    "PingFang TC",
    "Microsoft JhengHei UI",
    "Microsoft JhengHei",
    "-apple-system",
    "BlinkMacSystemFont",
    "ui-sans-serif",
    "system-ui",
    "Segoe UI",
    "Roboto",
    "Ubuntu",
    "Cantarell",
    "Noto Sans",
    "sans-serif",
    "Comic Sans MS";

  --font-mono:
    "ui-monospace",
    "SFMono-Regular",
    "SF Mono",
    "Menlo",
    "Cascadia Mono",
    "Consolas",
    "Ubuntu Mono",
    "Roboto Mono",
    "DejaVu Sans Mono",
    "Liberation Mono",
    "Sarasa Mono TC",
    "Sarasa Fixed TC",
    "monospace";
}

math {
  font-size: 1.25em;
  font-family:
    "Libertinus Math", "DejaVu Math", "New Computer Modern", "Latin Modern Math", "STIX Two Math", math, serif;
}
